## Sites Ãºteis:
- https://www.w3schools.com/sql/default.asp
- https://www.sqlservertutorial.net/

## Comandos

### CREATE TABLE

`
CREATE TABLE fornecedor (
    id INT,
    nome VARCHAR(15),
	endereco VARCHAR(250) 
 );
`

### INSERT

`
 INSERT INTO fornecedor (id, nome, endereco)
 VALUES (1, 'Peixaria Abril', 'Rua dos Leites, 23');
`

`
 INSERT INTO fornecedor (id, nome, endereco)
 VALUES (2, 'Empresa de Leite ParmaLeite', 'Rua dos Leites, 23');
`

### ALTER TABLE

`
 ALTER TABLE fornecedor
 ALTER COLUMN nome VARCHAR(100);
`

### UPDATE

` 
 UPDATE fornecedor 
 SET nome = 'Pexaria Abril 2'
 WHERE id = 1;
`

### DELETE

` 
 DELETE fornecedor 
 WHERE id = 1;
`

### DROP TABLE

`
 DROP TABLE fornecedor;
`

## Importando bases pro sql server

## Comandos de consulta

### SELECT e FROM

` 
SELECT *
FROM dbo.olist_sellers_dataset;
`

### WHERE

` 
SELECT *
FROM dbo.olist_sellers_dataset
WHERE seller_state = 'SP';
`

## Consultando dados do python com `sqlalchemy`

- Tutoriais sobre sqlalchemy
    - https://leportella.com/pt-br/tutorial-sqlalchemy/

In [ ]:
!pip install sqlalchemy

In [1]:
import sqlalchemy
import pandas as pd

In [2]:
engine = sqlalchemy.create_engine('mssql+pyodbc://localhost/master?driver=SQL+Server+Native+Client+11.0')

In [6]:
query = '''
    SELECT *
    FROM olist_customers_dataset
''' 
df = pd.read_sql(query, engine)

In [13]:
df.shape

(99441, 5)

In [9]:
df.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP

In [12]:
query = '''
    SELECT TOP 5 *
    FROM olist_customers_dataset
    WHERE customer_state = 'SP'
''' 
pd.read_sql(query, engine)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

## Consultando dados do python com `pandasql`

https://www.analyticsvidhya.com/blog/2021/07/pandasql-best-way-to-run-sql-queries-and-codes-in-jupyter-notebook-using-python/

`!pip install pandasql`

In [14]:
query = '''
    SELECT *
    FROM olist_customers_dataset
''' 
df = pd.read_sql(query, engine)

In [15]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [16]:
from pandasql import sqldf

In [18]:
query = '''
    SELECT *
    FROM df
    LIMIT 5
''' 

sqldf(query)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [19]:
query = '''
    SELECT *
    FROM df
    WHERE customer_state = 'SP'
    LIMIT 5
''' 

sqldf(query)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

## Olist datasets

![](https://i.imgur.com/HRhd2Y0.png)