In [1]:
import pandas as pd

In [2]:
import os

In [3]:
from datetime import datetime,timedelta

In [4]:
path ="C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais"

In [5]:
dir_list = os.listdir(path)

In [6]:
print(dir_list)

['olist_customers_dataset.csv', 'olist_geolocation_dataset.csv', 'olist_orders_dataset.csv', 'olist_order_items_dataset.csv', 'olist_order_payments_dataset.csv', 'olist_order_reviews_dataset.csv', 'olist_products_dataset.csv', 'olist_sellers_dataset.csv', 'orders_data.csv', 'orders_data.xlsx', 'output.csv', 'product_category_name_translation.csv']

In [8]:
df_orders = pd.read_csv("C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_orders_dataset.csv")

In [9]:
print(df_orders)

                               order_id                       customer_id  \
0      e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1      53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2      47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3      949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4      ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c
...                                 ...                               ...
99436  9c5dedf39a927c1b2549525ed64a053c  39bd1228ee8140590ac3aca26f2dfe00
99437  63943bddc261676b46f01ca7ac2f7bd8  1fca14ff2861355f6e5f14306ff977a7
99438  83c1379a015df1e13d02aae0204711ab  1aa71eb042121263aafbe80c1b562c9c
99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1
99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24

      order_status order_purchase_timestamp    order_approved_at  \
0        delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1        delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2        delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3        delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4        delivered      2018-02-13 21:18:39  2018-02-13 22:20:29
...            ...                      ...                  ...
99436    delivered      2017-03-09 09:54:05  2017-03-09 09:54:05
99437    delivered      2018-02-06 12:58:58  2018-02-06 13:10:37
99438    delivered      2017-08-27 14:46:43  2017-08-27 15:04:16
99439    delivered      2018-01-08 21:28:27  2018-01-08 21:36:21
99440    delivered      2018-03-08 20:57:30  2018-03-09 11:20:28

      order_delivered_carrier_date order_delivered_customer_date  \
0              2017-10-04 19:55:00           2017-10-10 21:25:13
1              2018-07-26 14:31:00           2018-08-07 15:27:45
2              2018-08-08 13:50:00           2018-08-17 18:06:29
3              2017-11-22 13:39:59           2017-12-02 00:28:42
4              2018-02-14 19:46:34           2018-02-16 18:17:02
...                            ...                           ...
99436          2017-03-10 11:18:03           2017-03-17 15:08:01
99437          2018-02-07 23:22:42           2018-02-28 17:37:56
99438          2017-08-28 20:52:26           2017-09-21 11:24:17
99439          2018-01-12 15:35:03           2018-01-25 23:32:54
99440          2018-03-09 22:11:59           2018-03-16 13:08:30

      order_estimated_delivery_date
0               2017-10-18 00:00:00
1               2018-08-13 00:00:00
2               2018-09-04 00:00:00
3               2017-12-15 00:00:00
4               2018-02-26 00:00:00
...                             ...
99436           2017-03-28 00:00:00
99437           2018-03-02 00:00:00
99438           2017-09-27 00:00:00
99439           2018-02-15 00:00:00
99440           2018-04-03 00:00:00

[99441 rows x 8 columns]

In [10]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [11]:
df_orders=pd.read_csv("C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_orders_dataset.csv",parse_dates=['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date'])

In [12]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [13]:
(df_orders['order_approved_at'].dt.month,df_orders['order_approved_at'].dt.day,df_orders['order_approved_at'].dt.hour)

(0        10.0
 1         7.0
 2         8.0
 3        11.0
 4         2.0
          ...
 99436     3.0
 99437     2.0
 99438     8.0
 99439     1.0
 99440     3.0
 Name: order_approved_at, Length: 99441, dtype: float64,
 0         2.0
 1        26.0
 2         8.0
 3        18.0
 4        13.0
          ...
 99436     9.0
 99437     6.0
 99438    27.0
 99439     8.0
 99440     9.0
 Name: order_approved_at, Length: 99441, dtype: float64,
 0        11.0
 1         3.0
 2         8.0
 3        19.0
 4        22.0
          ...
 99436     9.0
 99437    13.0
 99438    15.0
 99439    21.0
 99440    11.0
 Name: order_approved_at, Length: 99441, dtype: float64)

In [14]:
df_orders['order_purchase_timestamp'].dt.to_period('M')

0        2017-10
1        2018-07
2        2018-08
3        2017-11
4        2018-02
          ...
99436    2017-03
99437    2018-02
99438    2017-08
99439    2018-01
99440    2018-03
Name: order_purchase_timestamp, Length: 99441, dtype: period[M]

In [15]:
df_orders['order_purchase_timestamp'].dt.strftime('Dia %d de %B de %Y')

0         Dia 02 de October de 2017
1            Dia 24 de July de 2018
2          Dia 08 de August de 2018
3        Dia 18 de November de 2017
4        Dia 13 de February de 2018
                    ...
99436       Dia 09 de March de 2017
99437    Dia 06 de February de 2018
99438      Dia 27 de August de 2017
99439     Dia 08 de January de 2018
99440       Dia 08 de March de 2018
Name: order_purchase_timestamp, Length: 99441, dtype: object

In [21]:
df_orders['filtro_pedidos']=pd.cut(df_orders['order_purchase_timestamp'],bins=[datetime(2017, 11, 1),datetime(2017, 11, 30)])

In [24]:
df_orders.sort_values(by='order_purchase_timestamp')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,filtro_pedidos
4541,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaT,2016-10-20,NaN
4396,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaT,NaT,2016-10-28,NaN
10071,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaT,NaT,2016-09-30,NaN
30710,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,NaN
83078,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaT,NaT,2016-10-25,NaN
...,...,...,...,...,...,...,...,...,...
50387,392ed9afd714e3c74767d0c4d3e3f477,2823ffda607a2316375088e0d00005ec,canceled,2018-09-29 09:13:03,NaT,NaT,NaT,2018-10-15,NaN
88500,616fa7d4871b87832197b2a137a115d2,bf6181a85bbb4115736c0a8db1a53be3,canceled,2018-10-01 15:30:09,NaT,NaT,NaT,2018-10-23,NaN
31891,a2ac6dad85cf8af5b0afb510a240fe8c,4c2ec60c29d10c34bd49cb88aa85cfc4,canceled,2018-10-03 18:55:29,NaT,NaT,NaT,2018-10-16,NaN
68373,b059ee4de278302d550a3035c4cdb740,856336203359aa6a61bf3826f7d84c49,canceled,2018-10-16 20:16:02,NaT,NaT,NaT,2018-11-12,NaN
60938,10a045cdf6a5650c21e9cfeb60384c16,a4b417188addbc05b26b72d5e44837a1,canceled,2018-10-17 17:30:18,NaT,NaT,NaT,2018-10-30,NaN

In [31]:
pedidos_entregues = df_orders.query('order_status == "delivered"')

In [32]:
duracao_envio_entrega=pedidos_entregues['order_delivered_customer_date'] -pedidos_entregues['order_delivered_carrier_date']

In [33]:
duracao_envio_entrega

0        6 days 01:30:13
1       12 days 00:56:45
2        9 days 04:16:29
3        9 days 10:48:43
4        1 days 22:30:28
              ...
99436    7 days 03:49:58
99437   20 days 18:15:14
99438   23 days 14:31:51
99439   13 days 07:57:51
99440    6 days 14:56:31
Length: 96478, dtype: timedelta64[ns]

In [36]:
duracao_envio_entrega

0        6 days 01:30:13
1       12 days 00:56:45
2        9 days 04:16:29
3        9 days 10:48:43
4        1 days 22:30:28
              ...
99436    7 days 03:49:58
99437   20 days 18:15:14
99438   23 days 14:31:51
99439   13 days 07:57:51
99440    6 days 14:56:31
Length: 96478, dtype: timedelta64[ns]

In [37]:
media_duracao_envio_entrega =  duracao_envio_entrega.dt.days.mean()

In [38]:
media_duracao_envio_entrega

8.878054089914896

In [40]:
prazo_prometido = pedidos_entregues['order_estimated_delivery_date']-pedidos_entregues['order_delivered_carrier_date']

In [41]:
prazo_prometido.dt.days.mean()

20.158567933993947

In [42]:
df_orders.set_index('order_delivered_customer_date').loc['2017-12-24':'2017-12-25']

C:\Users\ACER\AppData\Local\Temp/ipykernel_12176/3756659777.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df_orders.set_index('order_delivered_customer_date').loc['2017-12-24':'2017-12-25']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_estimated_delivery_date,filtro_pedidos
order_delivered_customer_date,,,,,,,,
2017-12-24 12:16:47,a05cabeed82a5a2e8078c7e6ed14a03a,dfd7aa2424a1aa1abe8f4502712c5c28,delivered,2017-12-09 22:28:07,2017-12-09 22:36:28,2017-12-13 22:28:48,2018-01-04,NaN
2017-12-24 14:58:31,53183a96aacc31f11503c049f49905a3,67260c60edf9d4c22831ad47718a0e5e,delivered,2017-12-04 12:42:38,2017-12-04 16:33:37,2017-12-06 00:57:09,2018-01-02,NaN
2017-12-24 14:18:41,cfeafb929e8e089a77a5941999a6c608,504d0f9e21cb1577eea28f19076379cb,delivered,2017-12-02 13:39:00,2017-12-02 13:50:16,2017-12-04 18:43:23,2018-01-03,NaN
2017-12-24 10:28:02,638c43326cd8c7403a2bf818e46b779e,b22658c153336a249dd82bae710c2f9a,delivered,2017-12-01 16:19:38,2017-12-01 16:40:34,2017-12-04 22:09:39,2018-01-02,NaN
2017-12-24 13:39:00,90346710cfeac855230fe9a162980274,178f9d5e3a867229bef0e5363833715b,delivered,2017-12-16 14:11:37,2017-12-16 14:19:22,2017-12-22 01:38:22,2018-01-11,NaN
2017-12-24 12:51:59,9e98c3552018458c0a2dbfda35bbfbfb,fb21f7e36edb64a59f28725c2738a228,delivered,2017-12-03 10:18:45,2017-12-03 10:53:10,2017-12-06 23:28:08,2017-12-29,NaN
2017-12-24 13:29:07,791de4d00367a315bd14eb6ea519adef,0428dac4668d094df02ce20e705455cb,delivered,2017-12-14 18:40:06,2017-12-16 02:34:39,2017-12-18 18:27:08,2018-01-09,NaN
2017-12-24 12:59:50,c0f2ea4b21ba7cf42168794fcc92560a,daa17889b60a7fd60a1258928e19c94a,delivered,2017-12-10 18:15:03,2017-12-10 18:29:53,2017-12-13 22:18:43,2018-01-08,NaN
2017-12-24 19:27:47,e7f65461e6bfbb6977c3d24ff623024e,b727b1a23df7aac384bf3b4ffabe70a2,delivered,2017-11-23 22:30:08,2017-11-23 22:37:26,2017-11-27 22:52:01,2017-12-19,"(2017-11-01, 2017-11-30]"
2017-12-24 16:53:43,cb9eeca1d9d3a0487a015a69bf5715ab,696f0002c84ed9082a868ce411e31a31,delivered,2017-12-02 00:48:09,2017-12-02 00:59:26,2017-12-06 13:23:12,2018-01-08,NaN
2017-12-24 15:07:01,6fa03e78d9524fd63e7b9ab5618eff3c,e272717894f4663f450f5a4d487adb2f,delivered,2017-11-27 17:54:10,2017-11-30 15:14:20,2017-12-01 19:49:00,2017-12-20,"(2017-11-01, 2017-11-30]"

In [43]:
df_orders.set_index('order_purchase_timestamp').resample('M')

In [44]:
df_orders.set_index('order_purchase_timestamp').resample('M')['order_id'].count()

order_purchase_timestamp
2016-09-30       4
2016-10-31     324
2016-11-30       0
2016-12-31       1
2017-01-31     800
2017-02-28    1780
2017-03-31    2682
2017-04-30    2404
2017-05-31    3700
2017-06-30    3245
2017-07-31    4026
2017-08-31    4331
2017-09-30    4285
2017-10-31    4631
2017-11-30    7544
2017-12-31    5673
2018-01-31    7269
2018-02-28    6728
2018-03-31    7211
2018-04-30    6939
2018-05-31    6873
2018-06-30    6167
2018-07-31    6292
2018-08-31    6512
2018-09-30      16
2018-10-31       4
Freq: M, Name: order_id, dtype: int64

In [45]:
df_orders[['order_purchase_timestamp']].drop_duplicates().set_index('order_purchase_timestamp').resample('12H').asfreq()

Empty DataFrame
Columns: []
Index: [2016-09-04 12:00:00, 2016-09-05 00:00:00, 2016-09-05 12:00:00, 2016-09-06 00:00:00, 2016-09-06 12:00:00, 2016-09-07 00:00:00, 2016-09-07 12:00:00, 2016-09-08 00:00:00, 2016-09-08 12:00:00, 2016-09-09 00:00:00, 2016-09-09 12:00:00, 2016-09-10 00:00:00, 2016-09-10 12:00:00, 2016-09-11 00:00:00, 2016-09-11 12:00:00, 2016-09-12 00:00:00, 2016-09-12 12:00:00, 2016-09-13 00:00:00, 2016-09-13 12:00:00, 2016-09-14 00:00:00, 2016-09-14 12:00:00, 2016-09-15 00:00:00, 2016-09-15 12:00:00, 2016-09-16 00:00:00, 2016-09-16 12:00:00, 2016-09-17 00:00:00, 2016-09-17 12:00:00, 2016-09-18 00:00:00, 2016-09-18 12:00:00, 2016-09-19 00:00:00, 2016-09-19 12:00:00, 2016-09-20 00:00:00, 2016-09-20 12:00:00, 2016-09-21 00:00:00, 2016-09-21 12:00:00, 2016-09-22 00:00:00, 2016-09-22 12:00:00, 2016-09-23 00:00:00, 2016-09-23 12:00:00, 2016-09-24 00:00:00, 2016-09-24 12:00:00, 2016-09-25 00:00:00, 2016-09-25 12:00:00, 2016-09-26 00:00:00, 2016-09-26 12:00:00, 2016-09-27 00:00:00, 2016-09-27 12:00:00, 2016-09-28 00:00:00, 2016-09-28 12:00:00, 2016-09-29 00:00:00, 2016-09-29 12:00:00, 2016-09-30 00:00:00, 2016-09-30 12:00:00, 2016-10-01 00:00:00, 2016-10-01 12:00:00, 2016-10-02 00:00:00, 2016-10-02 12:00:00, 2016-10-03 00:00:00, 2016-10-03 12:00:00, 2016-10-04 00:00:00, 2016-10-04 12:00:00, 2016-10-05 00:00:00, 2016-10-05 12:00:00, 2016-10-06 00:00:00, 2016-10-06 12:00:00, 2016-10-07 00:00:00, 2016-10-07 12:00:00, 2016-10-08 00:00:00, 2016-10-08 12:00:00, 2016-10-09 00:00:00, 2016-10-09 12:00:00, 2016-10-10 00:00:00, 2016-10-10 12:00:00, 2016-10-11 00:00:00, 2016-10-11 12:00:00, 2016-10-12 00:00:00, 2016-10-12 12:00:00, 2016-10-13 00:00:00, 2016-10-13 12:00:00, 2016-10-14 00:00:00, 2016-10-14 12:00:00, 2016-10-15 00:00:00, 2016-10-15 12:00:00, 2016-10-16 00:00:00, 2016-10-16 12:00:00, 2016-10-17 00:00:00, 2016-10-17 12:00:00, 2016-10-18 00:00:00, 2016-10-18 12:00:00, 2016-10-19 00:00:00, 2016-10-19 12:00:00, 2016-10-20 00:00:00, 2016-10-20 12:00:00, 2016-10-21 00:00:00, 2016-10-21 12:00:00, 2016-10-22 00:00:00, 2016-10-22 12:00:00, 2016-10-23 00:00:00, 2016-10-23 12:00:00, 2016-10-24 00:00:00, ...]

[1547 rows x 0 columns]

In [46]:
df_orders['ano_mes_compra'] =df_orders['order_purchase_timestamp'].dt.to_period('M')

In [47]:
pedidos_por_mes_ano=df_orders.groupby('ano_mes_compra')[['order_id']].count()

In [48]:
pedidos_por_mes_ano.index=pedidos_por_mes_ano.index.to_timestamp()

In [49]:
pedidos_por_mes_ano

                order_id
ano_mes_compra
2016-09-01             4
2016-10-01           324
2016-12-01             1
2017-01-01           800
2017-02-01          1780
2017-03-01          2682
2017-04-01          2404
2017-05-01          3700
2017-06-01          3245
2017-07-01          4026
2017-08-01          4331
2017-09-01          4285
2017-10-01          4631
2017-11-01          7544
2017-12-01          5673
2018-01-01          7269
2018-02-01          6728
2018-03-01          7211
2018-04-01          6939
2018-05-01          6873
2018-06-01          6167
2018-07-01          6292
2018-08-01          6512
2018-09-01            16
2018-10-01             4

In [50]:
new_date_index_range=pd.date_range(start='2016-01-01',end='2018-12-01',freq='MS')

In [51]:
pedidos_por_mes_ano.reindex(new_date_index_range)

            order_id
2016-01-01       NaN
2016-02-01       NaN
2016-03-01       NaN
2016-04-01       NaN
2016-05-01       NaN
2016-06-01       NaN
2016-07-01       NaN
2016-08-01       NaN
2016-09-01       4.0
2016-10-01     324.0
2016-11-01       NaN
2016-12-01       1.0
2017-01-01     800.0
2017-02-01    1780.0
2017-03-01    2682.0
2017-04-01    2404.0
2017-05-01    3700.0
2017-06-01    3245.0
2017-07-01    4026.0
2017-08-01    4331.0
2017-09-01    4285.0
2017-10-01    4631.0
2017-11-01    7544.0
2017-12-01    5673.0
2018-01-01    7269.0
2018-02-01    6728.0
2018-03-01    7211.0
2018-04-01    6939.0
2018-05-01    6873.0
2018-06-01    6167.0
2018-07-01    6292.0
2018-08-01    6512.0
2018-09-01      16.0
2018-10-01       4.0
2018-11-01       NaN
2018-12-01       NaN

In [52]:
df_products=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_products_dataset.csv')

In [53]:
tb_telefonia=df_products.query('product_category_name == "telefonia" and product_photos_qty > 5')

In [54]:
tb_telefonia

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
118,7f6308ba4057a6a740af7b4dcfb79c13,telefonia,63.0,1930.0,9.0,200.0,19.0,5.0,11.0
175,4473f3e5c65952b074ef987fa5c24662,telefonia,59.0,776.0,6.0,350.0,17.0,4.0,12.0
316,bb31a27a0b24236c8ce7e0c6264c51ec,telefonia,49.0,276.0,12.0,100.0,19.0,3.0,11.0
410,a453b4ccccf554efba31d5ada5a59a60,telefonia,60.0,818.0,6.0,300.0,17.0,4.0,12.0
637,afb0d399cb1dec68de437eec41c94fad,telefonia,58.0,733.0,6.0,100.0,18.0,6.0,14.0
...,...,...,...,...,...,...,...,...,...
31762,c91fd1bf3e75d3b29370483ffda5eee0,telefonia,60.0,751.0,6.0,350.0,17.0,4.0,12.0
31941,b51485801348808e02617629d896c936,telefonia,51.0,394.0,6.0,100.0,19.0,3.0,20.0
32056,5d98f7de3b78c8dd8d7b62ea22000a65,telefonia,59.0,776.0,6.0,300.0,17.0,4.0,12.0
32272,8cefe1c6f2304e7e6825150218ffc58c,telefonia,59.0,818.0,6.0,300.0,17.0,4.0,12.0
32339,9fee00e0df0ae090525db9ad0dd73cb8,telefonia,58.0,818.0,6.0,150.0,17.0,4.0,12.0

In [55]:
tb_eletronicos=df_products.query('product_category_name == "eletronicos" and product_photos_qty > 5')[['product_id', 'product_category_name', 'product_photos_qty']]

In [56]:
tb_eletronicos

,product_id,product_category_name,product_photos_qty
2771,93c902b021a9e594f658ab1b0351602a,eletronicos,7.0
4244,98e0de96ebb0711db1fc3d1bad1a902f,eletronicos,6.0
5343,40002041835941ae0e10b9716ab7b03d,eletronicos,7.0
7930,78f8812dd6c26f65ff9cd09b0318090c,eletronicos,7.0
10538,0abc19e41fdc9d6894b8cae651619253,eletronicos,6.0
11892,9b37a918bcf2c8e1064e867cf1df4637,eletronicos,6.0
15378,c714f103a677fbcc818799ae0fcda11a,eletronicos,10.0
20133,f84ca2376ed799523593afad3bdae70f,eletronicos,7.0
22681,01cf56cd6138b926a4802d16fc304149,eletronicos,6.0
23192,93566f7e511c3e7472b05758fa08e64d,eletronicos,7.0
27826,9ff8568dfb9041b898e65ff4018c8c57,eletronicos,6.0
29296,7af4c96f817389692dfb05e679dbd991,eletronicos,6.0
30521,63bfa27a0cee21fd896dc27f58b6d656,eletronicos,6.0

In [57]:
tb_telefonia.append(tb_eletronicos)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
118,7f6308ba4057a6a740af7b4dcfb79c13,telefonia,63.0,1930.0,9.0,200.0,19.0,5.0,11.0
175,4473f3e5c65952b074ef987fa5c24662,telefonia,59.0,776.0,6.0,350.0,17.0,4.0,12.0
316,bb31a27a0b24236c8ce7e0c6264c51ec,telefonia,49.0,276.0,12.0,100.0,19.0,3.0,11.0
410,a453b4ccccf554efba31d5ada5a59a60,telefonia,60.0,818.0,6.0,300.0,17.0,4.0,12.0
637,afb0d399cb1dec68de437eec41c94fad,telefonia,58.0,733.0,6.0,100.0,18.0,6.0,14.0
...,...,...,...,...,...,...,...,...,...
22681,01cf56cd6138b926a4802d16fc304149,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
23192,93566f7e511c3e7472b05758fa08e64d,eletronicos,NaN,NaN,7.0,NaN,NaN,NaN,NaN
27826,9ff8568dfb9041b898e65ff4018c8c57,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
29296,7af4c96f817389692dfb05e679dbd991,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
30521,63bfa27a0cee21fd896dc27f58b6d656,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN

In [58]:
pd.concat([tb_telefonia,tb_eletronicos])

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
118,7f6308ba4057a6a740af7b4dcfb79c13,telefonia,63.0,1930.0,9.0,200.0,19.0,5.0,11.0
175,4473f3e5c65952b074ef987fa5c24662,telefonia,59.0,776.0,6.0,350.0,17.0,4.0,12.0
316,bb31a27a0b24236c8ce7e0c6264c51ec,telefonia,49.0,276.0,12.0,100.0,19.0,3.0,11.0
410,a453b4ccccf554efba31d5ada5a59a60,telefonia,60.0,818.0,6.0,300.0,17.0,4.0,12.0
637,afb0d399cb1dec68de437eec41c94fad,telefonia,58.0,733.0,6.0,100.0,18.0,6.0,14.0
...,...,...,...,...,...,...,...,...,...
22681,01cf56cd6138b926a4802d16fc304149,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
23192,93566f7e511c3e7472b05758fa08e64d,eletronicos,NaN,NaN,7.0,NaN,NaN,NaN,NaN
27826,9ff8568dfb9041b898e65ff4018c8c57,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
29296,7af4c96f817389692dfb05e679dbd991,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
30521,63bfa27a0cee21fd896dc27f58b6d656,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN

In [59]:
df_orders=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_orders_dataset.csv',usecols= ['order_id', 'order_status'])

In [60]:
df_payments=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_payments_dataset.csv',usecols= ['order_id', 'payment_type', 'payment_value'])

In [61]:
orders=df_orders.set_index('order_id').sort_index()

In [63]:
payments=df_payments.groupby('order_id')['payment_value'].sum()

In [64]:
payments

order_id
00010242fe8c5a6d1ba2dd792cb16214     72.19
00018f77f2f0320c557190d7a144bdd3    259.83
000229ec398224ef6ca0657da4fc703e    216.87
00024acbcdf0a6daa1e931b038114c75     25.78
00042b26cf59d7ce69dfabb4e55b4fd9    218.04
                                     ...
fffc94f6ce00a00581880bf54a75a037    343.40
fffcd46ef2263f404302a634eb57f7eb    386.53
fffce4705a9662cd70adb13d4a31832d    116.85
fffe18544ffabc95dfada21779c9644f     64.71
fffe41c64501cc87c801fd61db3f6244     55.79
Name: payment_value, Length: 99440, dtype: float64

In [65]:
pd.concat([orders,payments],axis=1)

                                 order_status  payment_value
order_id
00010242fe8c5a6d1ba2dd792cb16214    delivered          72.19
00018f77f2f0320c557190d7a144bdd3    delivered         259.83
000229ec398224ef6ca0657da4fc703e    delivered         216.87
00024acbcdf0a6daa1e931b038114c75    delivered          25.78
00042b26cf59d7ce69dfabb4e55b4fd9    delivered         218.04
...                                       ...            ...
fffc94f6ce00a00581880bf54a75a037    delivered         343.40
fffcd46ef2263f404302a634eb57f7eb    delivered         386.53
fffce4705a9662cd70adb13d4a31832d    delivered         116.85
fffe18544ffabc95dfada21779c9644f    delivered          64.71
fffe41c64501cc87c801fd61db3f6244    delivered          55.79

[99441 rows x 2 columns]

In [66]:
df_orders.merge(df_payments,on='order_id')

,order_id,order_status,payment_type,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,credit_card,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,voucher,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,voucher,18.59
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,boleto,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,credit_card,179.12
...,...,...,...,...
103881,9c5dedf39a927c1b2549525ed64a053c,delivered,credit_card,85.08
103882,63943bddc261676b46f01ca7ac2f7bd8,delivered,credit_card,195.00
103883,83c1379a015df1e13d02aae0204711ab,delivered,credit_card,271.01
103884,11c177c8e97725db2631073c19f07b62,delivered,credit_card,441.16
103885,66dea50a8b16d9b4dee7af250b4be1a5,delivered,debit_card,86.86

In [67]:
df_items=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_items_dataset.csv')

In [68]:
df_reviews=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_reviews_dataset.csv')

In [69]:
print(df_items.info(),df_reviews.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None None

In [71]:
Merge_seller_product = df_items.merge(df_reviews.dropna(subset=['review_comment_message']),on='order_id',how='right').sort_values(by=['order_id', 'product_id'])

In [72]:
Merge_seller_product

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
25308,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
2078,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,0c5b33dea94867d1ac402749e5438e8b,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31
27053,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,940144190dcba6351888cafa43f3a3a5,5,NaN,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00,2017-03-03 10:54:59
32924,0005a1a1728c9d785b8e2b08b904576c,1.0,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65,67b1ab8f3ec19d5a90f153f21757d3a1,1,NaN,Na descrição do produto quando fui efetuar a c...,2018-03-30 00:00:00,2018-04-02 00:52:01
12154,00061f2a7bc09da83e415a52dc8a4af1,1.0,d63c1011f49d98b976c352955b1c4bea,cc419e0650a3c5ba77189a1882b7556a,2018-03-29 22:28:09,59.99,8.88,7e92c32ae297ef950ee69781d9f1760c,5,NaN,A caixa do produto veio com uma pequena avaria...,2018-03-30 00:00:00,2018-03-30 04:04:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41852,ffeeb911d070bea3dd20bd5fd01da5e8,1.0,a5341e3f8155dbb3e62323d3ea289729,ff063b022a9a0aab91bad2c9088760b7,2017-10-13 19:25:54,79.50,16.19,49c3df0bcbf2d73e888164aa215e55a4,5,NaN,Adorei o produto ótimo e recomendo.,2017-10-26 00:00:00,2017-10-27 19:32:58
4559,fff8287bbae429a99bb7e8c21d151c41,1.0,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14,2b97d83f7c2b3a3b4285174e77379fbc,5,NaN,Tudo ok,2018-04-08 00:00:00,2018-04-12 20:25:15
4560,fff8287bbae429a99bb7e8c21d151c41,2.0,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14,2b97d83f7c2b3a3b4285174e77379fbc,5,NaN,Tudo ok,2018-04-08 00:00:00,2018-04-12 20:25:15
7056,fffb0b1a50e65c449020434fa835e078,1.0,e7be84ea9462aac5e2b0b08eb35ba7f1,36a968b544695394e4e9d7572688598f,2017-04-28 16:45:12,4.90,10.96,8d5c94767f299be3d6f88fd407377fa8,1,NaN,A compra foi feita Há mais de um mes e ainda n...,2017-05-17 00:00:00,2017-05-17 12:51:43
24536,fffe18544ffabc95dfada21779c9644f,1.0,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,fba117c9ac40d41ca7be54741f471303,5,NaN,Recebi o produto antes do prazo e corretamente.,2017-08-17 00:00:00,2017-08-18 12:24:05

In [76]:
Valor_maximo = Merge_seller_product.max()

C:\Users\ACER\AppData\Local\Temp/ipykernel_12176/1567004094.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Valor_maximo = Merge_seller_product.max()

In [77]:
Valor_maximo

order_id                                    fffe18544ffabc95dfada21779c9644f
order_item_id                                                           21.0
price                                                                 6735.0
freight_value                                                         375.28
review_id                                   fffd68e8a9fb73a56a2f504011b0f1f1
review_score                                                               5
review_comment_message     😡😡😡😡😡👎👎👎👎👎\r\nEmpresa sem compromisso com o cl...
review_creation_date                                     2018-08-31 00:00:00
review_answer_timestamp                                  2018-10-24 21:34:38
dtype: object

In [79]:
Merge_seller_product.sort_values(by='price', ascending=False).head(1)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
23935,0812eb902a67711a1cb742b3cdaa65ae,1.0,489ae2aa008f021502940f251d4cce7f,e3b4998c7a498169dc7bce44e6bb6277,2017-02-16 20:37:36,6735.0,194.31,e2fbd9f0ef7b724c7ecb351601a857e7,5,NaN,"Mesmo a máquina ter vindo errada, já se pronti...",2017-03-04 00:00:00,2017-03-04 21:40:41

In [80]:
df_products=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_products_dataset.csv')

In [81]:
df_products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [82]:
df_payments=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_payments_dataset.csv',usecols= ['order_id', 'payment_type', 'payment_value'])

In [83]:
df_payments

                                order_id payment_type  payment_value
0       b81ef226f3fe1789b1e8b2acac839d17  credit_card          99.33
1       a9810da82917af2d9aefd1278f1dcfa0  credit_card          24.39
2       25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card          65.71
3       ba78997921bbcdc1373bb41e913ab953  credit_card         107.78
4       42fdf880ba16b47b59251dd489d4441a  credit_card         128.45
...                                  ...          ...            ...
103881  0406037ad97740d563a178ecc7a2075c       boleto         363.31
103882  7b905861d7c825891d6347454ea7863f  credit_card          96.80
103883  32609bbb3dd69b3c066a6860554a77bf  credit_card          47.77
103884  b8b61059626efa996a60be9bb9320e10  credit_card         369.54
103885  28bbae6599b09d39ca406b747b6632b1       boleto         191.58

[103886 rows x 3 columns]

In [91]:
df_products=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_products_dataset.csv')

In [92]:
df_products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [93]:
df_items=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_items_dataset.csv')

In [94]:
df_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [98]:
df_items.merge(df_products,on='product_id')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.9,51.20,ferramentas_jardim,37.0,653.0,1.0,6700.0,35.0,12.0,22.0
112646,ffee31fb4b5e35c9123608015637c495,1,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.0,13.52,moveis_decoracao,30.0,308.0,1.0,2300.0,37.0,30.0,20.0
112647,fff7c4452f050315db1b3f24d9df5fcd,1,dd469c03ad67e201bc2179ef077dcd48,7e93a43ef30c4f03f38b393420bc753a,2017-06-07 17:05:23,736.0,20.91,relogios_presentes,33.0,658.0,3.0,400.0,19.0,9.0,15.0
112648,fffa82886406ccf10c7b4e35c4ff2788,1,bbe7651fef80287a816ead73f065fc4b,8f2ce03f928b567e3d56181ae20ae952,2017-12-22 17:31:42,229.9,44.02,esporte_lazer,32.0,280.0,2.0,2700.0,60.0,15.0,15.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.0,12.79,cama_mesa_banho,47.0,511.0,1.0,600.0,30.0,3.0,19.0

In [113]:
Merge_itens_merge_products = df_items.merge(df_products,on='product_id')

In [100]:
Merge_itens_merge_products.sort_values(by='price', ascending=False).head(1)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
37101,0812eb902a67711a1cb742b3cdaa65ae,1,489ae2aa008f021502940f251d4cce7f,e3b4998c7a498169dc7bce44e6bb6277,2017-02-16 20:37:36,6735.0,194.31,utilidades_domesticas,31.0,875.0,2.0,30000.0,60.0,61.0,33.0

In [101]:
categoria_mais_rentavel=Merge_itens_merge_products.groupby('price')[['product_category_name']].sum()

In [103]:
categoria_mais_rentavel.sort_values(by='price', ascending=False).head(1)

        product_category_name
price
6735.0  utilidades_domesticas

In [114]:
maior_numero_de_vendas_categoria=Merge_itens_merge_products.groupby('product_category_name')[['order_id']].count().head(1)

In [117]:
data_dos_pedidos = pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_items_dataset.csv', 
                          index_col='order_id',
                          usecols=['order_id', 'shipping_limit_date'],
                          parse_dates=['shipping_limit_date'])\
    .query('shipping_limit_date >= "2018-01-01" and shipping_limit_date <= "2018-12-31"')
data_dos_pedidos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62511 entries, 000229ec398224ef6ca0657da4fc703e to fffe41c64501cc87c801fd61db3f6244
Data columns (total 1 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   shipping_limit_date  62511 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 976.7+ KB

In [118]:
data_dos_pedidos

                                 shipping_limit_date
order_id
000229ec398224ef6ca0657da4fc703e 2018-01-18 14:48:30
00024acbcdf0a6daa1e931b038114c75 2018-08-15 10:10:18
000576fe39319847cbb9d288c5617fa6 2018-07-10 12:30:45
0005a1a1728c9d785b8e2b08b904576c 2018-03-26 18:31:29
0005f50442cb953dcd1d21e1fb923495 2018-07-06 14:10:56
...                                              ...
fffb2ef8874127f75b52b643880fd7e0 2018-04-09 05:08:33
fffbee3b5462987e66fb49b1c5411df2 2018-06-28 09:58:03
fffc94f6ce00a00581880bf54a75a037 2018-05-02 04:11:01
fffcd46ef2263f404302a634eb57f7eb 2018-07-20 04:31:48
fffe41c64501cc87c801fd61db3f6244 2018-06-12 17:10:13

[62511 rows x 1 columns]

In [124]:
Merge_itens_data = df_items.merge(data_dos_pedidos,on='order_id')

In [125]:
Merge_itens_data

,order_id,order_item_id,product_id,seller_id,shipping_limit_date_x,price,freight_value,shipping_limit_date_y
0,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,2018-01-18 14:48:30
1,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,2018-08-15 10:10:18
2,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75,2018-07-10 12:30:45
3,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65,2018-03-26 18:31:29
4,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40,2018-07-06 14:10:56
...,...,...,...,...,...,...,...,...
87200,fffb2ef8874127f75b52b643880fd7e0,1,ebceb9726cf5c6187b48e17fe58747b0,609e1a9a6c2539919b8205cf7c4e6ff0,2018-04-09 05:08:33,17.90,22.06,2018-04-09 05:08:33
87201,fffbee3b5462987e66fb49b1c5411df2,1,6f0169f259bb0ff432bfff7d829b9946,213b25e6f54661939f11710a6fddb871,2018-06-28 09:58:03,119.85,20.03,2018-06-28 09:58:03
87202,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,2018-05-02 04:11:01
87203,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,2018-07-20 04:31:48
87204,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,2018-06-12 17:10:13

In [127]:
Merge_itens_merge_products = Merge_itens_data.merge(df_products,on='product_id')

In [128]:
Merge_itens_merge_products.sort_values(by='price', ascending=False).head(1)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date_x,price,freight_value,shipping_limit_date_y,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
87139,fefacc66af859508bf1a7934eab1e97f,1,69c590f7ffc7bf8db97190b6cb6ed62e,80ceebb4ee9b31afb6c6a916a574a1e2,2018-08-02 04:05:13,6729.0,193.21,2018-08-02 04:05:13,pcs,50.0,1935.0,4.0,5660.0,54.0,18.0,47.0

In [162]:
categoria_mais_rentavel=Merge_itens_merge_products.groupby('price')[['product_category_name']].sum()

In [130]:
categoria_mais_rentavel.sort_values(by='price', ascending=False).head(1)

       product_category_name
price
6729.0                   pcs

In [131]:
produto_com_mais_vendas = Merge_itens_merge_products.groupby('product_category_name')[['order_id']].count()

In [132]:
produto_com_mais_vendas

                           order_id
product_category_name
agro_industria_e_comercio       210
alimentos                       512
alimentos_bebidas               243
artes                           180
artes_e_artesanato               25
...                             ...
sinalizacao_e_seguranca         329
tablets_impressao_imagem         27
telefonia                      3220
telefonia_fixa                  152
utilidades_domesticas          6636

[72 rows x 1 columns]

In [133]:
produto_com_mais_vendas.sort_values(by='order_id', ascending=False).head(1)

                       order_id
product_category_name
cama_mesa_banho            8928

In [134]:
df_review = pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_reviews_dataset.csv')

In [135]:
df_review

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [159]:
Merge_itens_merge_products

,order_id,order_item_id,product_id,seller_id,shipping_limit_date_x,price,freight_value,shipping_limit_date_y,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,2018-01-18 14:48:30,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
1,7a5d50c22fa322a528d125a704c8270c,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-11 13:54:27,199.00,17.87,2018-01-11 13:54:27,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
2,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,2018-08-15 10:10:18,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0
3,bd486e41e0b895151c98b33db1504f8d,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-23 00:10:14,12.99,12.79,2018-08-23 00:10:14,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0
4,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75,2018-07-10 12:30:45,ferramentas_jardim,39.0,1310.0,3.0,13805.0,35.0,75.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87200,ffe63ac8de50ca1b8d8aba30d6bff4fb,1,fda6a1e500285956c972ec2fe10f4923,751bdc4d83a466c7206cd42e8f426b03,2018-01-08 14:31:54,35.99,16.60,2018-01-08 14:31:54,alimentos_bebidas,52.0,1412.0,1.0,1850.0,20.0,20.0,20.0
87201,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.90,51.20,2018-07-18 20:23:55,ferramentas_jardim,37.0,653.0,1.0,6700.0,35.0,12.0,22.0
87202,ffee31fb4b5e35c9123608015637c495,1,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.00,13.52,2018-08-21 10:10:11,moveis_decoracao,30.0,308.0,1.0,2300.0,37.0,30.0,20.0
87203,fff1e3e76b816bfe8ef16678cc53c643,1,2e910736c31392d46841f315e9511405,7a67c85e85bb2ce8582c35f2203ad736,2018-03-05 09:08:53,65.99,20.86,2018-03-05 09:08:53,cool_stuff,52.0,884.0,1.0,1100.0,50.0,40.0,30.0
87204,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,2018-06-12 17:10:13,cama_mesa_banho,47.0,511.0,1.0,600.0,30.0,3.0,19.0

In [137]:
Merge_reviews = Merge_itens_merge_products.merge(df_review,on='order_id')

In [138]:
Merge_reviews

,order_id,order_item_id,product_id,seller_id,shipping_limit_date_x,price,freight_value,shipping_limit_date_y,product_category_name,product_name_lenght,...,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,2018-01-18 14:48:30,moveis_decoracao,59.0,...,3050.0,33.0,13.0,33.0,0c5b33dea94867d1ac402749e5438e8b,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31
1,7a5d50c22fa322a528d125a704c8270c,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-11 13:54:27,199.00,17.87,2018-01-11 13:54:27,moveis_decoracao,59.0,...,3050.0,33.0,13.0,33.0,b242791e2b84d07ba91d0961eaa76d5b,4,NaN,"Amei o produto material muito bom,duti dentro ...",2018-01-12 00:00:00,2018-01-14 18:12:18
2,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,2018-08-15 10:10:18,perfumaria,42.0,...,200.0,16.0,10.0,15.0,f4028d019cb58564807486a6aaf33817,4,NaN,NaN,2018-08-15 00:00:00,2018-08-15 16:39:01
3,bd486e41e0b895151c98b33db1504f8d,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-23 00:10:14,12.99,12.79,2018-08-23 00:10:14,perfumaria,42.0,...,200.0,16.0,10.0,15.0,a0c322134317c923d99a2d3a5fc3b462,4,Muito bom,Amei o produto,2018-08-28 00:00:00,2018-08-28 22:30:41
4,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75,2018-07-10 12:30:45,ferramentas_jardim,39.0,...,13805.0,35.0,75.0,45.0,f0733ebeb51b637dfdc953983c867b89,5,NaN,NaN,2018-07-10 00:00:00,2018-07-11 20:14:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86801,ffe63ac8de50ca1b8d8aba30d6bff4fb,1,fda6a1e500285956c972ec2fe10f4923,751bdc4d83a466c7206cd42e8f426b03,2018-01-08 14:31:54,35.99,16.60,2018-01-08 14:31:54,alimentos_bebidas,52.0,...,1850.0,20.0,20.0,20.0,54eab8672c589c5056dd719a72375f1b,5,NaN,NaN,2018-01-09 00:00:00,2018-01-10 15:06:46
86802,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.90,51.20,2018-07-18 20:23:55,ferramentas_jardim,37.0,...,6700.0,35.0,12.0,22.0,d8b7a27e0ca2736c310d24a87bcba62a,5,NaN,NaN,2018-07-24 00:00:00,2018-07-25 00:25:51
86803,ffee31fb4b5e35c9123608015637c495,1,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.00,13.52,2018-08-21 10:10:11,moveis_decoracao,30.0,...,2300.0,37.0,30.0,20.0,4e78f83fed69a70a3eb2796a9f24b368,4,NaN,NaN,2018-08-22 00:00:00,2018-08-25 14:22:54
86804,fff1e3e76b816bfe8ef16678cc53c643,1,2e910736c31392d46841f315e9511405,7a67c85e85bb2ce8582c35f2203ad736,2018-03-05 09:08:53,65.99,20.86,2018-03-05 09:08:53,cool_stuff,52.0,...,1100.0,50.0,40.0,30.0,48ea312f89b793c39491fd2ba70e8d5b,4,NaN,NaN,2018-03-08 00:00:00,2018-03-13 12:10:38
86805,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,2018-06-12 17:10:13,cama_mesa_banho,47.0,...,600.0,30.0,3.0,19.0,b2700869a37f1aafc9dda829dc2f9027,5,NaN,NaN,2018-06-15 00:00:00,2018-06-17 21:27:09

In [160]:
produto_com_mais_avaliacoes = Merge_reviews.groupby('product_category_name')[['review_id']].count()

In [151]:
produto_com_mais_avaliacoes

                           review_id
product_category_name
agro_industria_e_comercio        210
alimentos                        498
alimentos_bebidas                243
artes                            178
artes_e_artesanato                25
...                              ...
sinalizacao_e_seguranca          329
tablets_impressao_imagem          27
telefonia                       3203
telefonia_fixa                   152
utilidades_domesticas           6608

[72 rows x 1 columns]

In [152]:
produto_com_mais_avaliacoes.sort_values(by='review_id', ascending=False).head(1)

                       review_id
product_category_name
cama_mesa_banho             8868

In [154]:
produto_com_maior_score = Merge_reviews.groupby('product_category_name')[['review_score']].sum()

In [155]:
produto_com_maior_score

                           review_score
product_category_name
agro_industria_e_comercio           892
alimentos                          2021
alimentos_bebidas                  1074
artes                               688
artes_e_artesanato                   96
...                                 ...
sinalizacao_e_seguranca            1351
tablets_impressao_imagem            104
telefonia                         11567
telefonia_fixa                      459
utilidades_domesticas             24576

[72 rows x 1 columns]

In [156]:
produto_com_maior_score.sort_values(by='review_score', ascending=False).head(1)

                       review_score
product_category_name
cama_mesa_banho               33119

In [157]:
produto_com_maior_score.sort_values(by='review_score', ascending=True).head(1)

                       review_score
product_category_name
cds_dvds_musicais                 5

In [166]:
df_items=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_items_dataset.csv')

In [167]:
df_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [169]:
df_products=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_products_dataset.csv')

In [170]:
df_category_products=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/product_category_name_translation.csv')

In [172]:
df_items=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_items_dataset.csv')

In [174]:
itens_e_produtos = df_items.merge(df_products,on='product_id')

In [175]:
itens_e_produtos

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.9,51.20,ferramentas_jardim,37.0,653.0,1.0,6700.0,35.0,12.0,22.0
112646,ffee31fb4b5e35c9123608015637c495,1,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.0,13.52,moveis_decoracao,30.0,308.0,1.0,2300.0,37.0,30.0,20.0
112647,fff7c4452f050315db1b3f24d9df5fcd,1,dd469c03ad67e201bc2179ef077dcd48,7e93a43ef30c4f03f38b393420bc753a,2017-06-07 17:05:23,736.0,20.91,relogios_presentes,33.0,658.0,3.0,400.0,19.0,9.0,15.0
112648,fffa82886406ccf10c7b4e35c4ff2788,1,bbe7651fef80287a816ead73f065fc4b,8f2ce03f928b567e3d56181ae20ae952,2017-12-22 17:31:42,229.9,44.02,esporte_lazer,32.0,280.0,2.0,2700.0,60.0,15.0,15.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.0,12.79,cama_mesa_banho,47.0,511.0,1.0,600.0,30.0,3.0,19.0

In [178]:
produtos_itens = df_items.merge(df_products,on='product_id')

In [179]:
produtos_itens

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.9,51.20,ferramentas_jardim,37.0,653.0,1.0,6700.0,35.0,12.0,22.0
112646,ffee31fb4b5e35c9123608015637c495,1,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.0,13.52,moveis_decoracao,30.0,308.0,1.0,2300.0,37.0,30.0,20.0
112647,fff7c4452f050315db1b3f24d9df5fcd,1,dd469c03ad67e201bc2179ef077dcd48,7e93a43ef30c4f03f38b393420bc753a,2017-06-07 17:05:23,736.0,20.91,relogios_presentes,33.0,658.0,3.0,400.0,19.0,9.0,15.0
112648,fffa82886406ccf10c7b4e35c4ff2788,1,bbe7651fef80287a816ead73f065fc4b,8f2ce03f928b567e3d56181ae20ae952,2017-12-22 17:31:42,229.9,44.02,esporte_lazer,32.0,280.0,2.0,2700.0,60.0,15.0,15.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.0,12.79,cama_mesa_banho,47.0,511.0,1.0,600.0,30.0,3.0,19.0

In [180]:
Merge_itens_merge_products = df_items.merge(df_products,on='product_id')

In [181]:
Merge_itens_merge_products

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.9,51.20,ferramentas_jardim,37.0,653.0,1.0,6700.0,35.0,12.0,22.0
112646,ffee31fb4b5e35c9123608015637c495,1,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.0,13.52,moveis_decoracao,30.0,308.0,1.0,2300.0,37.0,30.0,20.0
112647,fff7c4452f050315db1b3f24d9df5fcd,1,dd469c03ad67e201bc2179ef077dcd48,7e93a43ef30c4f03f38b393420bc753a,2017-06-07 17:05:23,736.0,20.91,relogios_presentes,33.0,658.0,3.0,400.0,19.0,9.0,15.0
112648,fffa82886406ccf10c7b4e35c4ff2788,1,bbe7651fef80287a816ead73f065fc4b,8f2ce03f928b567e3d56181ae20ae952,2017-12-22 17:31:42,229.9,44.02,esporte_lazer,32.0,280.0,2.0,2700.0,60.0,15.0,15.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.0,12.79,cama_mesa_banho,47.0,511.0,1.0,600.0,30.0,3.0,19.0

In [183]:
tkm_categorias = Merge_itens_merge_products\
    .groupby('product_category_name')\
    ['price']\
    .mean()\
    .sort_values(ascending=False)

In [184]:
tkm_categorias

product_category_name
pcs                            1098.340542
portateis_casa_forno_e_cafe     624.285658
eletrodomesticos_2              476.124958
agro_industria_e_comercio       342.124858
instrumentos_musicais           281.616000
                                  ...
alimentos_bebidas                54.602446
cds_dvds_musicais                52.142857
fraldas_higiene                  40.194615
flores                           33.637576
casa_conforto_2                  25.342333
Name: price, Length: 73, dtype: float64

In [185]:
Merge_itens_merge_products.sort_values(by='price', ascending=False)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
37101,0812eb902a67711a1cb742b3cdaa65ae,1,489ae2aa008f021502940f251d4cce7f,e3b4998c7a498169dc7bce44e6bb6277,2017-02-16 20:37:36,6735.00,194.31,utilidades_domesticas,31.0,875.0,2.0,30000.0,60.0,61.0,33.0
112569,fefacc66af859508bf1a7934eab1e97f,1,69c590f7ffc7bf8db97190b6cb6ed62e,80ceebb4ee9b31afb6c6a916a574a1e2,2018-08-02 04:05:13,6729.00,193.21,pcs,50.0,1935.0,4.0,5660.0,54.0,18.0,47.0
111726,f5136e38d1a14a4dbd87dff67da82701,1,1bdf5e6731585cf01aa8169c7028d6ad,ee27a8f15b1dded4d213a468ba4eb391,2017-06-15 02:45:17,6499.00,227.66,artes,28.0,3954.0,2.0,7400.0,47.0,25.0,25.0
103335,a96610ab360d42a2e5335a3998b4718a,1,a6492cc69376c469ab6f61d8f44de961,59417c56835dd8e2e72f91f809cd4092,2017-04-18 13:25:18,4799.00,151.34,eletroportateis,41.0,1780.0,2.0,22600.0,55.0,40.0,40.0
60252,199af31afc78c699f0dbf71fb178d4d4,1,c3ed642d592594bb648ff4a04cee2747,59417c56835dd8e2e72f91f809cd4092,2017-05-09 15:50:15,4690.00,74.34,eletroportateis,59.0,2217.0,2.0,30000.0,50.0,49.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97511,8272b63d03f5f79c56e9e4120aec44ef,1,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.20,7.89,beleza_saude,45.0,232.0,3.0,800.0,21.0,4.0,15.0
97521,8272b63d03f5f79c56e9e4120aec44ef,2,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.20,7.89,beleza_saude,45.0,231.0,3.0,800.0,21.0,4.0,15.0
80496,3ee6513ae7ea23bdfab5b9ab60bffcb5,1,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2018-05-04 03:55:26,0.85,18.23,construcao_ferramentas_construcao,25.0,1041.0,5.0,200.0,16.0,4.0,11.0
80497,6e864b3f0ec71031117ad4cf46b7f2a1,1,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2018-05-02 20:30:34,0.85,18.23,construcao_ferramentas_construcao,25.0,1041.0,5.0,200.0,16.0,4.0,11.0
80498,c5bdd8ef3c0ec420232e668302179113,2,8a3254bee785a526d548a81a9bc3c9be,96804ea39d96eb908e7c3afdb671bb9e,2018-05-07 02:55:22,0.85,22.30,construcao_ferramentas_construcao,25.0,1041.0,5.0,200.0,16.0,4.0,11.0

In [186]:
Merge_itens_merge_products.query('product_category_name == "utilidades_domesticas"')['price'].quantile(.95)

260.0

In [187]:
data_dos_pedidos = pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_items_dataset.csv', 
                          index_col='order_id',
                          usecols=['order_id', 'shipping_limit_date'],
                          parse_dates=['shipping_limit_date'])\
    .query('shipping_limit_date >= "2018-01-01" and shipping_limit_date <= "2018-12-31"')
data_dos_pedidos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62511 entries, 000229ec398224ef6ca0657da4fc703e to fffe41c64501cc87c801fd61db3f6244
Data columns (total 1 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   shipping_limit_date  62511 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 976.7+ KB

In [191]:
df_orders=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_orders_dataset.csv',usecols= ['order_id', 'order_status'])

In [192]:
df_payments=pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_payments_dataset.csv',usecols= ['order_id', 'payment_type', 'payment_value'])

In [193]:
orders=df_orders.set_index('order_id').sort_index()

In [194]:
payments=df_payments.groupby('order_id')['payment_value'].sum()

In [197]:
vendas_produtos_filtra_data = data_dos_pedidos.merge(orders,on='order_id')

In [198]:
vendas_produtos_filtra_data

                                 shipping_limit_date order_status
order_id
000229ec398224ef6ca0657da4fc703e 2018-01-18 14:48:30    delivered
00024acbcdf0a6daa1e931b038114c75 2018-08-15 10:10:18    delivered
000576fe39319847cbb9d288c5617fa6 2018-07-10 12:30:45    delivered
0005a1a1728c9d785b8e2b08b904576c 2018-03-26 18:31:29    delivered
0005f50442cb953dcd1d21e1fb923495 2018-07-06 14:10:56    delivered
...                                              ...          ...
fffb2ef8874127f75b52b643880fd7e0 2018-04-09 05:08:33    delivered
fffbee3b5462987e66fb49b1c5411df2 2018-06-28 09:58:03    delivered
fffc94f6ce00a00581880bf54a75a037 2018-05-02 04:11:01    delivered
fffcd46ef2263f404302a634eb57f7eb 2018-07-20 04:31:48    delivered
fffe41c64501cc87c801fd61db3f6244 2018-06-12 17:10:13    delivered

[62511 rows x 2 columns]

In [199]:
produto_datas_filtrado = vendas_produtos_filtra_data.query('order_status in ("delivered", "shipped", "invoiced")')
produto_datas_filtrado

                                 shipping_limit_date order_status
order_id
000229ec398224ef6ca0657da4fc703e 2018-01-18 14:48:30    delivered
00024acbcdf0a6daa1e931b038114c75 2018-08-15 10:10:18    delivered
000576fe39319847cbb9d288c5617fa6 2018-07-10 12:30:45    delivered
0005a1a1728c9d785b8e2b08b904576c 2018-03-26 18:31:29    delivered
0005f50442cb953dcd1d21e1fb923495 2018-07-06 14:10:56    delivered
...                                              ...          ...
fffb2ef8874127f75b52b643880fd7e0 2018-04-09 05:08:33    delivered
fffbee3b5462987e66fb49b1c5411df2 2018-06-28 09:58:03    delivered
fffc94f6ce00a00581880bf54a75a037 2018-05-02 04:11:01    delivered
fffcd46ef2263f404302a634eb57f7eb 2018-07-20 04:31:48    delivered
fffe41c64501cc87c801fd61db3f6244 2018-06-12 17:10:13    delivered

[62141 rows x 2 columns]

In [203]:
type(produto_datas_filtrado.shipping_limit_date.iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [204]:
df_orders

                               order_id order_status
0      e481f51cbdc54678b7cc49136f2d6af7    delivered
1      53cdb2fc8bc7dce0b6741e2150273451    delivered
2      47770eb9100c2d0c44946d9cf07ec65d    delivered
3      949d5b44dbf5de918fe9c16f97b45f8a    delivered
4      ad21c59c0840e6cb83a9ceb5573f8159    delivered
...                                 ...          ...
99436  9c5dedf39a927c1b2549525ed64a053c    delivered
99437  63943bddc261676b46f01ca7ac2f7bd8    delivered
99438  83c1379a015df1e13d02aae0204711ab    delivered
99439  11c177c8e97725db2631073c19f07b62    delivered
99440  66dea50a8b16d9b4dee7af250b4be1a5    delivered

[99441 rows x 2 columns]

In [205]:
pd.to_datetime(produto_datas_filtrado.shipping_limit_date)

order_id
000229ec398224ef6ca0657da4fc703e   2018-01-18 14:48:30
00024acbcdf0a6daa1e931b038114c75   2018-08-15 10:10:18
000576fe39319847cbb9d288c5617fa6   2018-07-10 12:30:45
0005a1a1728c9d785b8e2b08b904576c   2018-03-26 18:31:29
0005f50442cb953dcd1d21e1fb923495   2018-07-06 14:10:56
                                           ...
fffb2ef8874127f75b52b643880fd7e0   2018-04-09 05:08:33
fffbee3b5462987e66fb49b1c5411df2   2018-06-28 09:58:03
fffc94f6ce00a00581880bf54a75a037   2018-05-02 04:11:01
fffcd46ef2263f404302a634eb57f7eb   2018-07-20 04:31:48
fffe41c64501cc87c801fd61db3f6244   2018-06-12 17:10:13
Name: shipping_limit_date, Length: 62141, dtype: datetime64[ns]

In [209]:
def converte_str_para_data(x):
    x = x[:10]
    x = datetime.strptime(x, '%Y-%m-%d')
    return x

In [213]:
produto_datas_filtrado['data_dt'] = pd.to_datetime(produto_datas_filtrado.shipping_limit_date)
produto_datas_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62141 entries, 000229ec398224ef6ca0657da4fc703e to fffe41c64501cc87c801fd61db3f6244
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   shipping_limit_date  62141 non-null  datetime64[ns]
 1   order_status         62141 non-null  object
 2   data_dt              62141 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 3.9+ MB

C:\Users\ACER\AppData\Local\Temp/ipykernel_12176/3134069765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  produto_datas_filtrado['data_dt'] = pd.to_datetime(produto_datas_filtrado.shipping_limit_date)

In [214]:
pd.merge(produto_datas_filtrado, Merge_itens_merge_products, 
         on='order_id', how='inner')\
    .groupby('product_category_name')\
    ['price']\
    .sum()\
    .sort_values(ascending=False)\
    .head(10)

product_category_name
beleza_saude              905732.35
relogios_presentes        788376.36
cama_mesa_banho           761711.10
informatica_acessorios    754571.58
esporte_lazer             638131.40
moveis_decoracao          594395.63
utilidades_domesticas     561093.70
automotivo                393559.38
bebes                     289630.87
ferramentas_jardim        289051.58
Name: price, dtype: float64

In [215]:
df_review = pd.read_csv('C://Users/ACER/Documents/CURSOS/Formação Cientista de Dados/dados_totais/olist_order_reviews_dataset.csv')

In [216]:
df_review

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [217]:
Merge_reviews = Merge_itens_merge_products.merge(df_review,on='order_id')

In [218]:
Merge_reviews

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112367,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.9,51.20,ferramentas_jardim,37.0,653.0,...,6700.0,35.0,12.0,22.0,d8b7a27e0ca2736c310d24a87bcba62a,5,NaN,NaN,2018-07-24 00:00:00,2018-07-25 00:25:51
112368,ffee31fb4b5e35c9123608015637c495,1,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.0,13.52,moveis_decoracao,30.0,308.0,...,2300.0,37.0,30.0,20.0,4e78f83fed69a70a3eb2796a9f24b368,4,NaN,NaN,2018-08-22 00:00:00,2018-08-25 14:22:54
112369,fff7c4452f050315db1b3f24d9df5fcd,1,dd469c03ad67e201bc2179ef077dcd48,7e93a43ef30c4f03f38b393420bc753a,2017-06-07 17:05:23,736.0,20.91,relogios_presentes,33.0,658.0,...,400.0,19.0,9.0,15.0,18fd272eb3b30d832d8f459ca0bfc24b,5,NaN,NaN,2017-06-09 00:00:00,2017-06-12 11:05:17
112370,fffa82886406ccf10c7b4e35c4ff2788,1,bbe7651fef80287a816ead73f065fc4b,8f2ce03f928b567e3d56181ae20ae952,2017-12-22 17:31:42,229.9,44.02,esporte_lazer,32.0,280.0,...,2700.0,60.0,15.0,15.0,b49f4e0ca71a9801d56ff4e47cff1ded,4,NaN,NaN,2018-01-09 00:00:00,2018-01-11 23:56:38
112371,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.0,12.79,cama_mesa_banho,47.0,511.0,...,600.0,30.0,3.0,19.0,b2700869a37f1aafc9dda829dc2f9027,5,NaN,NaN,2018-06-15 00:00:00,2018-06-17 21:27:09

In [219]:
Merge_reviews.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18

In [220]:
Merge_reviews.order_item_id.value_counts()

1     98465
2      9766
3      2270
4       959
5       456
6       252
7        58
8        36
9        28
10       25
11       17
12       12
13        7
14        6
15        4
16        2
17        2
18        2
19        2
20        2
21        1
Name: order_item_id, dtype: int64

In [221]:
filtro_mais_que_um_produto = Merge_reviews.order_item_id > 1

In [223]:
id_dos_pedidos_com_mais_de_um_produto = Merge_reviews[filtro_mais_que_um_produto].order_id.unique()

In [224]:
id_dos_pedidos_com_mais_de_um_produto

array(['c9ef97d2854afe64a3b4488bc2836af6',
       '45211f00dfa76aed1c20d6910d973222',
       '09268d8b25dd31ae78b464efd453d069', ...,
       'ffb18bf111fa70edf316eb0390427986',
       'ffd6f465cab015b452d398ac1f5d978a',
       'ffe4b41e99d39f0b837a239110260530'], dtype=object)

In [225]:
pedidos_com_apenas_um_produto = Merge_reviews[~ Merge_reviews.order_id.isin(id_dos_pedidos_com_mais_de_um_produto)]
pedidos_com_apenas_um_produto

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112367,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.9,51.20,ferramentas_jardim,37.0,653.0,...,6700.0,35.0,12.0,22.0,d8b7a27e0ca2736c310d24a87bcba62a,5,NaN,NaN,2018-07-24 00:00:00,2018-07-25 00:25:51
112368,ffee31fb4b5e35c9123608015637c495,1,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.0,13.52,moveis_decoracao,30.0,308.0,...,2300.0,37.0,30.0,20.0,4e78f83fed69a70a3eb2796a9f24b368,4,NaN,NaN,2018-08-22 00:00:00,2018-08-25 14:22:54
112369,fff7c4452f050315db1b3f24d9df5fcd,1,dd469c03ad67e201bc2179ef077dcd48,7e93a43ef30c4f03f38b393420bc753a,2017-06-07 17:05:23,736.0,20.91,relogios_presentes,33.0,658.0,...,400.0,19.0,9.0,15.0,18fd272eb3b30d832d8f459ca0bfc24b,5,NaN,NaN,2017-06-09 00:00:00,2017-06-12 11:05:17
112370,fffa82886406ccf10c7b4e35c4ff2788,1,bbe7651fef80287a816ead73f065fc4b,8f2ce03f928b567e3d56181ae20ae952,2017-12-22 17:31:42,229.9,44.02,esporte_lazer,32.0,280.0,...,2700.0,60.0,15.0,15.0,b49f4e0ca71a9801d56ff4e47cff1ded,4,NaN,NaN,2018-01-09 00:00:00,2018-01-11 23:56:38
112371,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.0,12.79,cama_mesa_banho,47.0,511.0,...,600.0,30.0,3.0,19.0,b2700869a37f1aafc9dda829dc2f9027,5,NaN,NaN,2018-06-15 00:00:00,2018-06-17 21:27:09

In [226]:
pedidos_com_apenas_um_produto.order_item_id.value_counts()

1    88699
Name: order_item_id, dtype: int64

In [228]:
avaliacoes_pedidos_um_produto = pd.merge(pedidos_com_apenas_um_produto, Merge_reviews, 
         on='order_id', how='inner')

In [229]:
avaliacoes_pedidos_um_produto.head()

,order_id,order_item_id_x,product_id_x,seller_id_x,shipping_limit_date_x,price_x,freight_value_x,product_category_name_x,product_name_lenght_x,product_description_lenght_x,...,product_weight_g_y,product_length_cm_y,product_height_cm_y,product_width_cm_y,review_id_y,review_score_y,review_comment_title_y,review_comment_message_y,review_creation_date_y,review_answer_timestamp_y
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18

In [231]:
avaliacoes_pedidos_um_produto['product_id_x'].mode()

0    99a4788cb24856965c36a24e339b6058
dtype: object

In [232]:
avaliacoes_pedidos_um_produto.set_index('product_id_x').loc['99a4788cb24856965c36a24e339b6058']

,order_id,order_item_id_x,seller_id_x,shipping_limit_date_x,price_x,freight_value_x,product_category_name_x,product_name_lenght_x,product_description_lenght_x,product_photos_qty_x,...,product_weight_g_y,product_length_cm_y,product_height_cm_y,product_width_cm_y,review_id_y,review_score_y,review_comment_title_y,review_comment_message_y,review_creation_date_y,review_answer_timestamp_y
product_id_x,,,,,,,,,,,,,,,,,,,,,
99a4788cb24856965c36a24e339b6058,0006ec9db01a64e59a68b2c340bf65a7,1,4a3ca9315b744ce9f8e9374361493884,2018-07-26 17:24:20,74.0,23.32,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,6322c405c0f34bf3ad870fd1a6b1fced,5,Boa,Excelente serviço de compras on line.,2018-07-31 00:00:00,2018-08-01 23:05:10
99a4788cb24856965c36a24e339b6058,00c763284c0056eed753352f5559ff0a,1,4a3ca9315b744ce9f8e9374361493884,2018-06-11 00:10:44,79.9,14.65,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,41169625beb2255f7230003614931654,4,****,nada a declarar por enquanto.,2018-06-14 00:00:00,2018-06-18 14:10:59
99a4788cb24856965c36a24e339b6058,0368f4fdb586fe3cde123934d4ab5b5e,1,4a3ca9315b744ce9f8e9374361493884,2017-06-07 07:02:53,89.9,15.38,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,bc69d6229bf06da4c5a1986be73fd146,3,NaN,toalha muito fina pelo preço,2017-06-17 00:00:00,2017-06-20 11:03:25
99a4788cb24856965c36a24e339b6058,03b5a8a7f871d2a792f7af458fe13b4a,1,4a3ca9315b744ce9f8e9374361493884,2018-06-12 21:51:55,79.9,23.14,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,a1675bb2e8f0a4eac81b438a516004b3,5,NaN,ótimo,2018-06-19 00:00:00,2018-06-20 10:21:41
99a4788cb24856965c36a24e339b6058,0403bed7b44fb735b6af72505c57fdd3,1,4a3ca9315b744ce9f8e9374361493884,2017-07-25 04:32:55,89.9,12.13,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,73412172bd9e6389fb7a28cf5f286433,5,NaN,NaN,2017-07-27 00:00:00,2017-07-28 00:42:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99a4788cb24856965c36a24e339b6058,fd188acaf0be6dba0ce1ec1ca5005ceb,1,4a3ca9315b744ce9f8e9374361493884,2018-06-25 21:58:40,79.9,23.36,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,7f2e9a8382590d6c9550ce733ce8f746,5,NaN,NaN,2018-07-03 00:00:00,2018-07-03 23:20:59
99a4788cb24856965c36a24e339b6058,fd52368d8373ad4158396078bf5ad004,1,4a3ca9315b744ce9f8e9374361493884,2017-06-06 04:45:24,89.9,15.38,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,4fb430742fafbad7bbead417d49c34d8,5,NaN,NaN,2017-06-09 00:00:00,2017-06-12 12:20:55
99a4788cb24856965c36a24e339b6058,fe4e63c3ce772bf558a089b256e4e8d7,1,4a3ca9315b744ce9f8e9374361493884,2017-07-03 03:50:23,89.9,15.38,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,bec0f19154af731fede4c12d5ff015e0,4,NaN,OK OTIMO,2017-07-27 00:00:00,2017-07-28 13:25:29
99a4788cb24856965c36a24e339b6058,fe575916daa713f9830a8b7362121621,1,4a3ca9315b744ce9f8e9374361493884,2018-04-03 11:28:00,86.9,16.29,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,26ceb25133060799d5124d123d0a1d0a,5,NaN,NaN,2018-04-07 00:00:00,2018-04-07 23:44:45
99a4788cb24856965c36a24e339b6058,ff79282c8f4c58df02fde009ad02d009,1,53d00c40e32aeb924a84ce72b1af869d,2018-04-25 12:53:28,86.0,20.86,cama_mesa_banho,54.0,245.0,1.0,...,1383.0,50.0,10.0,40.0,a1fbdfdc4e077af3c225949a152dd163,3,NaN,NaN,2018-05-01 00:00:00,2018-05-02 12:59:09

In [236]:
review_score_produtos_agg = Merge_reviews.agg

In [237]:
review_score_produtos_agg

<bound method DataFrame.aggregate of                                 order_id  order_item_id  \
0       00010242fe8c5a6d1ba2dd792cb16214              1
1       130898c0987d1801452a8ed92a670612              1
2       532ed5e14e24ae1f0d735b91524b98b9              1
3       6f8c31653edb8c83e1a739408b5ff750              1
4       7d19f4ef4d04461989632411b7e588b9              1
...                                  ...            ...
112367  ffebd80e3291e811c308365936897efd              1
112368  ffee31fb4b5e35c9123608015637c495              1
112369  fff7c4452f050315db1b3f24d9df5fcd              1
112370  fffa82886406ccf10c7b4e35c4ff2788              1
112371  fffe41c64501cc87c801fd61db3f6244              1

                              product_id                         seller_id  \
0       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
2       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
3       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
4       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
...                                  ...                               ...
112367  4cc4d02efc8f249c13355147fb44e34d  d1c7fa84e48cfa21a0e595167c1c500e
112368  b10ecf8e33aaaea419a9fa860ea80fb5  0241d4d5d36f10f80c644447315af0bd
112369  dd469c03ad67e201bc2179ef077dcd48  7e93a43ef30c4f03f38b393420bc753a
112370  bbe7651fef80287a816ead73f065fc4b  8f2ce03f928b567e3d56181ae20ae952
112371  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1

        shipping_limit_date  price  freight_value product_category_name  \
0       2017-09-19 09:45:35   58.9          13.29            cool_stuff
1       2017-07-05 02:44:11   55.9          17.96            cool_stuff
2       2018-05-23 10:56:25   64.9          18.33            cool_stuff
3       2017-08-07 18:55:08   58.9          16.17            cool_stuff
4       2017-08-16 22:05:11   58.9          13.29            cool_stuff
...                     ...    ...            ...                   ...
112367  2018-07-18 20:23:55  129.9          51.20    ferramentas_jardim
112368  2018-08-21 10:10:11   99.0          13.52      moveis_decoracao
112369  2017-06-07 17:05:23  736.0          20.91    relogios_presentes
112370  2017-12-22 17:31:42  229.9          44.02         esporte_lazer
112371  2018-06-12 17:10:13   43.0          12.79       cama_mesa_banho

        product_name_lenght  product_description_lenght  ...  \
0                      58.0                       598.0  ...
1                      58.0                       598.0  ...
2                      58.0                       598.0  ...
3                      58.0                       598.0  ...
4                      58.0                       598.0  ...
...                     ...                         ...  ...
112367                 37.0                       653.0  ...
112368                 30.0                       308.0  ...
112369                 33.0                       658.0  ...
112370                 32.0                       280.0  ...
112371                 47.0                       511.0  ...

        product_weight_g  product_length_cm  product_height_cm  \
0                  650.0               28.0                9.0
1                  650.0               28.0                9.0
2                  650.0               28.0                9.0
3                  650.0               28.0                9.0
4                  650.0               28.0                9.0
...                  ...                ...                ...
112367            6700.0               35.0               12.0
112368            2300.0               37.0               30.0
112369             400.0               19.0                9.0
112370            2700.0               60.0               15.0
112371             600.0               30.0                3.0

        product_width_cm                         review_id review_score  \
0                   14.0  97ca439bc427b48bc1cd7177abe71365            5
1                   14.0  b11cba360bbe71410c291b764753d37f            5
2                   14.0  af01c4017c5ab46df6cc810e069e654a            4
3                   14.0  8304ff37d8b16b57086fa283fe0c44f8            5
4                   14.0  426f43a82185969503fb3c86241a9535            5
...                  ...                               ...          ...
112367              22.0  d8b7a27e0ca2736c310d24a87bcba62a            5
112368              20.0  4e78f83fed69a70a3eb2796a9f24b368            4
112369              15.0  18fd272eb3b30d832d8f459ca0bfc24b            5
112370              15.0  b49f4e0ca71a9801d56ff4e47cff1ded            4
112371              19.0  b2700869a37f1aafc9dda829dc2f9027            5

        review_comment_title  \
0                        NaN
1                        NaN
2            super recomendo
3                        NaN
4                        NaN
...                      ...
112367                   NaN
112368                   NaN
112369                   NaN
112370                   NaN
112371                   NaN

                                   review_comment_message  \
0          Perfeito, produto entregue antes do combinado.
1       lannister como sempre, entregou certinho e den...
2                                   carrinho muito bonito
3                                                     NaN
4                                                     NaN
...                                                   ...
112367                                                NaN
112368                                                NaN
112369                                                NaN
112370                                                NaN
112371                                                NaN

       review_creation_date review_answer_timestamp
0       2017-09-21 00:00:00     2017-09-22 10:57:03
1       2017-07-14 00:00:00     2017-07-17 12:50:07
2       2018-06-05 00:00:00     2018-06-06 21:41:12
3       2017-08-10 00:00:00     2017-08-13 03:35:17
4       2017-08-25 00:00:00     2017-08-28 00:51:18
...                     ...                     ...
112367  2018-07-24 00:00:00     2018-07-25 00:25:51
112368  2018-08-22 00:00:00     2018-08-25 14:22:54
112369  2017-06-09 00:00:00     2017-06-12 11:05:17
112370  2018-01-09 00:00:00     2018-01-11 23:56:38
112371  2018-06-15 00:00:00     2018-06-17 21:27:09

[112372 rows x 21 columns]>

In [242]:
review_score_produtos_atualizacao = avaliacoes_pedidos_um_produto.groupby('product_id_x')['review_score_y'].agg(['mean', 'count'])

In [243]:
review_score_produtos_atualizacao

                                  mean  count
product_id_x
00066f42aeeb9f3007548bb9d3f33c38   5.0      1
00088930e925c41fd95ebfe695fd2655   4.0      1
0009406fd7479715e4bef61dd91f2462   1.0      1
000b8f95fcb9e0096488278317764d19   5.0      2
000d9be29b5207b54e86aa1b1ac54872   5.0      1
...                                ...    ...
fff6177642830a9a94a0f2cba5e476d1   4.5      2
fff81cc3158d2725c0655ab9ba0f712c   4.0      1
fff9553ac224cec9d15d49f5a263411f   5.0      1
fffdb2d0ec8d6a61f0a0a0db3f25b441   5.0      5
fffe9eeff12fcbd74a2f2b007dde0c58   4.0      1

[29323 rows x 2 columns]

In [244]:
media_dos_scores = review_score_produtos_atualizacao.sort_values(by=['mean', 'count'], ascending=[False, False])

In [245]:
media_dos_scores['count_neg'] = media_dos_scores['count'] * -1

In [246]:
media_dos_scores

                                  mean  count  count_neg
product_id_x
2722b7e5f68e776d18fe901638034e54   5.0     13        -13
4c8b28305f570899b6ded964ddd234a9   5.0     11        -11
59c1840441f4df065f52760bf51a8442   5.0     11        -11
83aae8023b8feda53259f63e0ec06390   5.0     10        -10
a7d756e8f7c4b7e5b679e248a57d91ec   5.0     10        -10
...                                ...    ...        ...
ff5ecb2f7628793844e861076ab8e467   1.0      1         -1
ff6154cee42bf2718cca4865f0620e04   1.0      1         -1
ff9dfd2acec3dff6be51b4d28bed8768   1.0      1         -1
ffa1ce7f2a287ca5e369673bd77d43de   1.0      1         -1
ffbfa9e143fda4420454d0f4e88a3cd5   1.0      1         -1

[29323 rows x 3 columns]

In [247]:
media_dos_scores.groupby('mean')['count'].max().loc[[5, 1]]

mean
5    13
1     5
Name: count, dtype: int64

In [249]:
rank_count = media_dos_scores.reset_index().drop(columns=['product_id_x', 'count']).groupby(['mean']).rank(method='dense')

In [250]:
media_dos_scores['rank_count'] = rank_count.values

In [252]:
rank_tipo_ascending_false = media_dos_scores.reset_index().groupby(['mean'])['count'].rank(method='dense', 
                                                                                           ascending=False)